*.o
*.exe
*.gcode
*.FCStd1
*.FCBak

**/*backups/
**/build*/

_images/
Documents/
ElectronicFocuser-Test-Pi/
Misc/
_old
Schematic&PCB/PCB/
Schematic&PCB/KiCad/
Schematic&PCB/KiCad/Focuser-V1.1/
Schematic&PCB/KiCad/Focuser-V0.1/
Schematic&PCB/KiCad/Regulus Focuser-V1/
Schematic&PCB/KiCad/Regulus Focuser-V1.1/Gerber/
Schematic&PCB/KiCad/Regulus Focuser-V1.1/Routing/
Schematic&PCB/KiCad/Regulus Focuser-V1.1/SMT/
Schematic&PCB/KiCad/Regulus Focuser-V1.1/Gerber.zip


